body {
  margin: 0;
  background-color: whitesmoke;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #6441a5;
  background: -webkit-linear-gradient(to-right, #2a3845, #6441a5);
  background: linear-gradient(to-right, #2a3845, #6441a5);
}

header > img {
  height: 80%;
  margin-left: 10%;
}

header > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 60px;
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme > img {
  width: 90%;
  height: 50%;
}

.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: Impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px 2px 0 #000,
    -2px -2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.meme > .bottom {
  bottom: 0;
}

.meme > .top {
  top: 0;
}

.meme-form {
  width: 50px;
  margin: 50px 75px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 60px;
  z-index: 1;
}

.meme-form > input {
  width: 50%;
  height: 60px;
  margin-right: 30px;
}

.meme-form > button {
  border: 5px;
  font-family: VT323, monospace;
  font-size: 20px;
  letter-spacing: 1 1px;
  color: white;
  background: #0441a5;
}

.meme-form > input::-webkit-input-placeholder {
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: center;
}

.meme-form > input::-moz-placeholder {
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: center;
}

.meme-form > input::-ms-placeholder {
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: center;
}
